project:
  type: website
  output-dir: docs
  render: 
    - "*.qmd"
    - "!/assets/"

execute: 
  freeze: auto

website:
  title: "Social Data Science"
  description: "A course on applied data science using inequality as a motivating example from social science."
  page-navigation: true
  navbar:
    pinned: true
    right:
      - href: assets/syllabus.pdf
        text: Syllabus
      - calendar.qmd
      - text: Problem Sets
        menu:
          - psets/pset1.qmd
          - psets/pset2.qmd
          - psets/pset3.qmd
          - psets/pset4.qmd
          - psets/pset5.qmd
          - psets/pset6.qmd
          - psets/pset7.qmd
          - psets/pset8.qmd
      - href: "https://piazza.com/class/miyskvk64nv4y1"
        text: Piazza
      - text: Honors Section
        menu:
          - href: honors/welcome.qmd
            text: Welcome
          - honors/ask_good_questions.qmd
          - honors/access_data.qmd
          - honors/prepare_data.qmd
          - honors/sketch_a_visualization.qmd
          - honors/writing.qmd
          - honors/presentation.qmd
      - href: "https://forms.gle/KZUdBH6bhkXtRxZX7"
        text: Extension Requests
      - past_sites.qmd
        
  sidebar:
    style: "docked"
    search: true
    collapse-level: 2
    contents:
      - href: index.qmd
        text: "Home"
      - section: "Getting Started"
        contents: 
          - topics/1a_empirical_questions.qmd
          - topics/1b_software.qmd
          - topics/1c_r_basics.qmd
          - topics/2a_visualization.qmd
          - topics/2b_summary_statistic.qmd
          - topics/3_sampling.qmd
          - topics/4_ci.qmd
      - section: "Models for Subgroup Summaries"
        contents:
          - topics/5_linear_regression.qmd
          - topics/6_logistic_regression.qmd
          - topics/7_forests.qmd
          - topics/8_prediction.qmd
          - topics/8b_sample_splitting.qmd
          - topics/9a_data_driven_selection.qmd
          - topics/9_are_complex_better.qmd
      - section: "Causal Inference with Measured Confounding"
        contents:
          - topics/10_define_causal.qmd
          - topics/11_exchangeability.qmd
          - topics/12_DAGs.qmd
          - topics/12b_data_example.qmd
          - topics/13_matching.qmd
          - topics/14_models_for_causal.qmd
      - section: "Causal Inference with Unmeasured Confounding"
        contents:
         - topics/15_did.qmd
         - topics/16_rd.qmd
         - topics/17_iv.qmd

  back-to-top-navigation: true

format:
  html:
    #theme:
    #  light: flatly
    #  dark: darkly
    css: styles.css
    toc: true
    linkcolor: '#2774AE'
    highlight: '#2774AE'
    navbarbg: '#2774AE'
    tucolor: '#2774AE'
    # grid: 
    #   sidebar-width: 300px



